<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <h1>Your Password is:</h1>
    <h1>About BOODSCODE</h1>
    <p>
        We are happy to help you find secure passwords for your accounts. Be sure to <bold>securely</bold> save them somewhere.
    We are <strong>BOODSCODE co</strong>.
    </p>
    <br>
<a href="{% url 'home' %}" class="btn btn-primary">Home</a>
</div>
</body>
</html>